Bin/*
*.user
*.sdf
*.opensdf
*.suo
*.pyc
*.VC.db
*.VC.opendb
.vs/*
.vscode/
*.pyc
*.o
*slang-dump-*
*.mp4
packages
Source/Externals/openvdb/lib/Debug/*.pdb
Source/RenderPasses/VolumetricReSTIR/Data
Tools/.packman
Tests/data
enc_temp_folder
